:root {
    --bg-body: radial-gradient(#f0483a,#d10a20);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.main {
    position: relative;
    min-height: 100vh;
    background-color: radial-gradient(#f0483a,#d10a20);
    display: flex;
}
