:root {
    --bg-body: radial-gradient(#FD4D35, #E32120);
    --btn-color: #fff;
    --btn-color-text: #333;
    --h2-color: #fff;
    --p-color: #fff;
    --h-color: #d10a20;

    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



main {
    position: relative;
    min-height: 100vh;
    background: var(--bg-body);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px;
}
    
header {
            min-width: 100%;    
            padding: 20px 70px 20px 20px;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1000;
            }   

header .logo {
        max-width: 90px;
}
    
header .navigation {
            display: flex;
            
}

header .navigation li {
                list-style: none
                }

                header .navigation li a {
                position: relative;
                color: #fff;
                text-decoration: none;
                margin-left: 40px;
                font-size: 20px;
                }

.content {
        position: relative;
        width: 100%;
        display: flex;
        
        /* justify-content: space-between; */
        align-items: center;
        
        }

.text {
        width: 100%;
        max-width: 600px;
        flex: 1;
        }
    
.content .btn {
        position: relative;
        display: inline-block;
        margin-top: 50px;
        padding: 20px 50px;
        background: var(--btn-color);
        color: var(--btn-color-text);
        font-size: 1.1em;
        font-weight: 500;
        border-radius: 40px;
        text-decoration: none;
        transition: 0.25s;
    }

.content .btn:hover {
        letter-spacing: 2px;
    }

h2 {
    color: var(--h2-color);
    font-size: 5em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 20px 0;
}

span {
    font-weight: 700;
}

p {
    color: var(--p-color);
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.5em;
    line-height: 20px 0;
}

.content-img {
    position: relative;
    margin-left: 20px;
}

.imgFries {
    width: 100%;
    max-width: 600px;
    display: block;
}

.footer {
    /* position: absolute; */
    width: 100%;
    display: flex;
    padding: 30px 0px;
    justify-content: space-between;
    align-items: flex-end;
}

.footer .sci {
    display: flex;
}

.footer .sci li {
    list-style: none;
    margin-top: 0px;
    padding-inline: 10px;
}

.footer .sci li a {
    color: #fff;
    display: inline-block;
    transition: 0.25s;
    
}

.footer .sci li a:hover {
    transform: translateY(-5px);
}

.footer .sci li a img {
    width: 40px;
    filter: saturate(0%);
}

@media (max-width: 600px) {
    .main {
        padding: 20px;
    }
    .content h2 {
        margin-top: 40px;
    }
    .main .footer {
        flex-direction: column-reverse;
        align-items: center;
    }
    .main .footer .sci {
        margin-top: 40px;
        margin-right: -80px;
    }
}